/* Font declarations */

@font-face {
  font-family: "CMU Serif";
  src: url(cmunrm.ttf);
  font-weight: normal;
  font-style: normal;
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
@font-face {
  font-family: "CMU Serif Extra";
  src: url(cmunrb.ttf);
  font-weight: bold;
  font-style: normal;
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
@font-face {
  font-family: "CMU Serif";
  src: url(cmunti.ttf);
  font-weight: normal;
  font-style: italic;
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
@font-face {
  font-family: "CMU Typewriter Text";
  src: url(cmuntt.ttf);
  font-weight: normal;
  font-style: normal;
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}

/* Global page styles */

@page {
  size: A4 portrait;
  margin-left: 44mm;
  margin-right: 44mm;
  margin-top: 20mm;
  margin-bottom: 40mm;

  @bottom-center { content: counter(page) }
}

html, body {
  padding: 0;
  margin: 0;
  height: auto;
}

* {
  font-family: "CMU Serif";
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
  text-indent: 2em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: normal;
}

span[data-hdoc-type="syntax"] {font-family: "CMU Typewriter Text"}

h1 {font-size: 2em}
h2 {font-size: 1.6em}
h3 {font-size: 1.4em}
h4 {font-size: 1.2em}
h5, h6 {font-size: 1em}

h5 {font-family: "CMU Serif Extra"}
h6 {font-style: italic}


/* Global headings numbering */

body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}

h2::before {counter-increment: h2; content: counter(h2) ".\0000a0\0000a0"}
h3::before {counter-increment: h3; content: counter(h2) "." counter(h3) ".\0000a0\0000a0"}
h4::before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ".\0000a0\0000a0"}

h2.nocount:before,
h3.nocount:before,
h4.nocount:before { content: ""; counter-increment: none }


/* Global lists styling */

ul > li p, ol > li p {
  text-indent: 0;
}

ul {
  list-style-type: none;
  padding-left: 3em;
}

ul > li {
  position: relative;
}

ul > li::before {
  position: absolute;
  left: -1em;
  content: "\2013";
}


/* ToC formatting */

h2.toc-title {
  page-break-before: always;
}

ul.toc {
  counter-reset: toc;
  padding-left: 0;
}

ul.toc.level2 {
  width: 107mm;
}

ul.toc > li {
  display: block;
  position: relative;;
}

ul.toc > li::before {
  left: 0;
  position: absolute;
  content: counters(toc, ".") "\A0";
  counter-increment: toc;
}

ul.toc.level2 > li {
  padding-left: 8mm;
  font-family: "CMU Serif Extra";
}

ul.toc.level2 > li > a {
  font-family: "CMU Serif Extra";
}

ul.toc.level3 > li {padding-left: 11mm}
ul.toc.level4 > li {padding-left: 13mm}

ul.toc.level3 > li > a::after, ul.toc.level4 > li > a::after {content: leader(dotted)}

ul.toc > li > span {
  position: absolute;
  right: -10mm;
}

ul.toc.level2 > li > span {font-family: "CMU Serif Extra"}

ul.toc > li > span::after {
  content: target-counter(attr(href), page);
}

/* Main Title formatting */

h1 {
  padding-top: 20mm;
  text-align: center;
}

/* Authors formatting */

p.authors {
  text-align: center;
}

/* Images formatting */

img {
  display: block;
  position: relative;
  width: 80mm;
  margin: auto;
  padding-top: 5mm;
  padding-bottom: 5mm;
  page-break-before: auto;
  page-break-after: auto;
  page-break-inside: avoid;
}

/* Widows and orphans processing */

h2, h3, h4, h5, h6 {
  page-break-after: avoid;
}
