body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	font: 12px Tahoma, Arial, Sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}
h1{
	font-size: 1.8em;
	color: #4463A1;
	text-align: center;
}
h2{
	font-size:1.8em;
	color:#4463A1;
}
h3{
	font-size: 1.4em;
	color: #4463A1;
}
h4, h5, h6{
	font-size: 1.3em;
	color: #4463A1;
}

p{
	text-align: justify;
	font-size: 1.2em;
	margin: 0.2em 1em 0.7em 1em;
}

table, td, th {    
    border: 1px solid #4463A1;
    text-align: center;
    font-size: 1.2em;
}

td p, th p{
    text-align: center;
    font-size: 15px;
}

tr:first-child {
    font-weight: bold;
    color : white;
    background-color : #4463A1;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 10px;
}

td{
	padding: 5px;
}

.textTitle{
    float : left;  
}

.title{
    float : right;
}

.border{
    background: #f5fcff;
    border: 2px solid #4463A1;
    box-shadow: 0px 5px 5px #888888;
    padding: 5px;
    clear: both;
}

.warning{
    color:#cc0000;
}

.borderWarning{
    background: #ffcccc;
    border: 2px solid #cc0000;
    box-shadow: 0px 5px 5px #888888;
    padding: 5px;
    clear: both;
}

.noCut{
    page-break-inside: avoid;
}

.titlePage{
    margin: 30vh 0 0 0;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 30px;
}

.subTitlePage{
    text-align: center;
    font-size: 15px;
}

.bold{
    font-weight: bold;
}

.imgContainer1{
    text-indent:0;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    width:99%;
    page-break-before:auto;
    page-break-inside:avoid;
    page-break-after:auto;
}

.imgContainer2{
    margin-left:0;
    margin-right:0;
    text-align:center;
    text-indent:0;
    height:100%;
    width:100%;
}

p .imgContainer3{
    display:inline-block;
    text-indent:0;
    width:100%;
}

img{
    max-width:99%;
    max-height:75%;
}
